<!doctype html>

<html>

    <head>

        <link rel="stylesheet" type="text/css" href="static/main.css">
        <link rel="stylesheet" type="text/css" href="static/confirm.css">

    </head>

    <body>

        <div class="container wooden-background" ion-fixed>

            <div id="background">

                <div class="letter" id="c"></div>
                <div class="letter" id="a"></div>
                <div class="letter" id="s"></div>
                <div class="letter" id="e"></div>

            </div>

            <div id="confirm">

                <h1><a href="{{ url }}">Confirm Your Case Account</a></h1>

            </div>

        </div>

    </body>

</html>
