@keyframes slide
{
   100%
   {
       margin-left: 0%;
   }
}

/* BACKGROUND */

#background
{
   height: 100vh;
   opacity: 0.09;
   overflow-x: hidden;
   width: 100%;
   z-index: -1;
}

.letter
{
   height: 25%;
   margin-left: -29900%;
   width: 30000%;
   z-index: -2;
}

#c
{
   animation: slide 1000s linear infinite;
   background: url(c.jpg);
   background-repeat: repeat-x;
   background-size: contain;
   transition-timing-function: ease-in;
}

#a
{
   animation: slide 1000s 200ms linear infinite;
   background: url(a.jpg);
   background-repeat: repeat-x;
   background-size: contain;
   transition-timing-function: ease-in;
}

#s
{
   animation: slide 1000s 300ms linear infinite;
   background: url(s.jpg);
   background-repeat: repeat-x;
   background-size: contain;
   transition-timing-function: ease-in;
}

#e
{
   animation: slide 1000s 400ms linear infinite;
   background: url(e.jpg);
   background-repeat: repeat-x;
   background-size: contain;
   transition-timing-function: ease-in;
}


/* CONFIRMATION MESSAGE */

#confirm
{
   color: $primary;
   display: block;
   box-sizing: border-box;
   left: 50%;
   position: absolute;
   text-align: center;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 90%;
}

#confirm h1
{
   font-size: 11.5vw;
   font-weight: 699;
}

#confirm h1 a
{
    text-decoration: none;
}
