<!doctype html>

<html>

    <head>

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/case-app-static/main.css">
        <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/case-app-static/confirm.css">

    </head>

    <body>

        <div id="background">

            <div class="letter" id="c"></div>
            <div class="letter" id="a"></div>
            <div class="letter" id="s"></div>
            <div class="letter" id="e"></div>

            <div id="confirm">

                <h1>Your Confirmation Code</h1>
                <h5>{{ code }}</h5>

            </div>

        </div>

    </body>

</html>
